knowledge_engine:
  knowledge_base_id: 'https://entsoe.bluebird.com/ke/smartconnector'
  kb_name: 'ENTSO-E service'
  kb_description: 'ENTSO-E  service'
  prefixes:
    kb: "${KB_ID}/"
    ubmarket: "https://ubeflex.bluebird.eu/market/"
    rdf: "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    s4ener: "https://saref.etsi.org/saref4ener/"
    xsd: "http://www.w3.org/2001/XMLSchema#"
  graph_patterns:
    market:
      name: "market"
      description: "Basic information about the market"
      prefixes:
        s4city: "https://saref.etsi.org/s4city/"
        foaf: "http://xmlns.com/foaf/0.1/"
      pattern:
        - ' kb:market rdf:type ubmarket:DayAheadMarket ;  rdf:type foaf:Agent ;'
        - '      s4city:hasAdministrativeArea ?country .'
        - ' ?country rdf:type s4city:Country ; ubmarket:hasISO3166Name "Poland" .'
    market-offer-info-query:
      name: "market-offer-info-query"
      description: "Information about new offer"
      prefixes:
        time: "http://www.w3.org/2006/time#"
      pattern:
        - ' kb:market rdf:type ubmarket:DayAheadMarket .'
        - ' ?ts_interval_uri rdf:type time:Interval; time:hasBeginning ?ts_date_from; time:hasEnd ?ts_date_to .'
      result_pattern:
        - ' ?offer_uri rdf:type s4ener:TimeSeries .'
        - ' ?offer_uri s4ener:producedBy kb:market .'
        - ' ?offer_uri s4ener:hasUpdateRate "PT60M"^^xsd:duration .'
        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
        - ' ?offer_uri s4ener:hasEffectivePeriod  "PT1440M"^^xsd:duration .'
    market-offer-info:
      name: "market-offer-info"
      description: "Information about new offer"
      prefixes:
      pattern:
        - ' kb:market rdf:type ubmarket:DayAheadMarket .'
        - ' ?offer_uri rdf:type s4ener:TimeSeries .'
        - ' ?offer_uri s4ener:producedBy kb:market .'
        - ' ?offer_uri s4ener:hasUpdateRate "PT60M"^^xsd:duration .'
        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
        - ' ?offer_uri s4ener:hasEffectivePeriod  "PT1440M"^^xsd:duration .'
    market-offer:
      name: "market-offer"
      description: "Daily offer of the market"
      prefixes:
        saref: "https://saref.etsi.org/core/"
      pattern:
        - '?offer_uri rdf:type s4ener:TimeSeries .'
        - '?dp s4ener:belongsToTimeSeries ?offer_uri .'
        - '?dp rdf:type s4ener:DataPoint .'
        - '?dp saref:hasTimestamp ?ts .'
        - '?dp saref:hasResult ?dpr .'
        - '?dpr saref:hasValue ?value .'
        - '?dpr saref:isMeasuredIn "PLNPerMegawattHour" .'
        - '?dp s4ener:hasEffectivePeriod  "PT60M"^^xsd:duration .'

#    tou-price:
#      name: "tou-price"
#      description: "tou-price"
#      prefixes:
#        xsd: "http://www.w3.org/2001/XMLSchema#"
#        saref: "https://saref.etsi.org/core/"
#        s4ener: "https://saref.etsi.org/saref4ener/"
#        kbmarket: "${KB_ID}/market/"
#      pattern:
#        - 'kbmarket:tou rdf:type s4ener:TimeSeries .'
#        - 'kbmarket:tou s4ener:hasCreationTime ?offerCreationTime .'
#        - 'kbmarket:tou s4ener:hasUpdateRate "PT60M"^^xsd:duration .'
#        - '?dp s4ener:belongsToTimeSeries kbmarket:tou .'
#        - '?dp rdf:type s4ener:DataPoint .'
#        - '?dp saref:hasTimestamp ?timestamp .'
#        - '?dp saref:hasResult ?dpr .'
#        - '?dpr saref:hasValue ?value .'
#        - '?dpr saref:isMeasuredIn "PLNPerMegawattHour" .'

