knowledge_engine:
  knowledge_base_id: 'https://entsoe.bluebird.com/ke/smartconnector'
  kb_name: 'ENTSO-E service'
  kb_description: 'ENTSO-E  service'
  prefixes:
    kb: "${KB_ID}/"
    ubmarket: "https://ubeflex.bluebird.eu/market/"
    rdf: "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    s4ener: "https://saref.etsi.org/saref4ener/"
    xsd: "http://www.w3.org/2001/XMLSchema#"
  graph_patterns:
    market:
      name: "market"
      description: "Basic information about the market"
      prefixes:
        s4city: "https://saref.etsi.org/s4city/"
        foaf: "http://xmlns.com/foaf/0.1/"
        rdfs: "http://www.w3.org/2000/01/rdf-schema#"
      pattern:
        - ' ?market_uri rdf:type ?market_type ; rdfs:subClassOf foaf:Agent ;'
        - '      s4city:hasAdministrativeArea ?country_uri .'
        - ' ?country_uri rdf:type s4city:Country ; ubmarket:hasISO3166Name ?country_name .'
    market-offer-info-filtered:
      name: "market-offer-info-filtered"
      description: "Information about new offer with time filter"
      prefixes:
        time: "http://www.w3.org/2006/time#"
      pattern:
        - ' ?market_uri rdf:type ?market_type .'
        - ' ?offer_uri rdf:type ubmarket:MarketTimeSeries .'
        - ' ?offer_uri ubmarket:hasMarketSequence ?sequence .'
        - ' ?offer_uri s4ener:producedBy ?market_uri .'
        - ' ?offer_uri s4ener:hasUpdateRate  ?update_rate.'
        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
        - ' ?offer_uri s4ener:hasEffectivePeriod  ?duration .'
        - ' ?ts_interval_uri rdf:type time:Interval; time:hasBeginning ?ts_date_from; time:hasEnd ?ts_date_to .'
    market-offer-info:
      name: "market-offer-info"
      description: "Information about new offer"
      prefixes:
      pattern:
        - ' ?market_uri rdf:type ?market_type .'
        - ' ?offer_uri rdf:type ubmarket:MarketTimeSeries .'
        - ' ?offer_uri ubmarket:hasMarketSequence ?sequence .'
        - ' ?offer_uri s4ener:producedBy ?market_uri .'
        - ' ?offer_uri s4ener:hasUpdateRate  ?update_rate.'
        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
        - ' ?offer_uri s4ener:hasEffectivePeriod  ?duration .'
      result_pattern:
        - ' ?market_uri rdf:type ?market_type .'
        - ' ?offer_uri rdf:type ubmarket:MarketTimeSeries .'
        - ' ?offer_uri ubmarket:hasMarketSequence ?sequence .'
        - ' ?offer_uri s4ener:producedBy ?market_uri .'
        - ' ?offer_uri s4ener:hasUpdateRate  ?update_rate.'
        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
        - ' ?offer_uri s4ener:hasEffectivePeriod  ?duration .'
    market-offer:
      name: "market-offer"
      description: "Daily offer of the market"
      prefixes:
        saref: "https://saref.etsi.org/core/"
      pattern:
        - '?offer_uri rdf:type ubmarket:MarketTimeSeries .'
        - '?dp s4ener:belongsToTimeSeries ?offer_uri .'
        - '?dp rdf:type s4ener:DataPoint .'
        - '?dp saref:hasTimestamp ?ts .'
        - '?dp saref:hasResult ?dpr .'
        - '?dpr saref:hasValue ?value .'
        - '?dpr saref:isMeasuredIn ?is_measured_id .'
        - '?dp s4ener:hasEffectivePeriod ?duration .'


#    market-offer-info-query:
#      name: "market-offer-info-query"
#      description: "Information about new offer"
#      prefixes:
#        time: "http://www.w3.org/2006/time#"
#      pattern:
#        - ' ?market_uri rdf:type ?ubmarket:MarketType .'
#        - ' ?market_uri ubmarket:hasMarketSequence ?sequence .'
#        - ' ?ts_interval_uri rdf:type time:Interval; time:hasBeginning ?ts_date_from; time:hasEnd ?ts_date_to .'
#      result_pattern:
#        - ' ?offer_uri rdf:type ubmarket:MarketTimeSeries .'
#        - ' ?offer_uri s4ener:producedBy ?market_uri .'
#        - ' ?offer_uri ubmarket:hasMarketSequence ?sequence .'
#        - ' ?offer_uri s4ener:hasUpdateRate ?update_rate .'
#        - ' ?offer_uri s4ener:hasCreationTime ?time_create .'
#        - ' ?offer_uri s4ener:hasEffectivePeriod ?duration .'
